@import "src/styles/themes.scss";

.main-button {
    background-color: $primary-color;
    color: $basic-white;
    width: 12.5rem;
    margin-top: 2rem;
}

.default-border-login {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1rem;
    width: 100%;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
  }

.login-container {
    display: flex;
    flex: 1;
    height: 100vh;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
  
    .login-image-container {
      background-image: url("~src/assets/images/login-page-alt.png");
      flex: 1;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .login-logo-container {
      top: 2rem;
      bottom: 2rem;
      position: fixed;
      width: 21.5rem;
      border-radius: 4px;
      padding: 1rem 3rem 1.5rem;
      box-shadow: $box-shadow;
      opacity: 0.97;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  
      .logo-container {
        display: flex;
        justify-content: space-around;
        padding-top: 1rem;
        align-self: flex-start;
        width: 100%;
        margin-left: -0.75rem;
      }
  
      .tagline-text {
        color: $basic-white;
        font-size: $font-size-24;
        font-weight: $font-weight-light;
  
        .bolder-text {
          font-weight: $font-weight-extra-bold;
        }
      }
    }
  
    .login-form-container {
      background: rgba(0, 0, 0, 0.2);
      right: 0;
      position: fixed;
      height: 100%;
      width: 27%;
      padding: 0 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      .guidance-text {
        font-weight: $font-weight-semi-bold;
        font-size: $font-size-16;
        color: $basic-white;
        padding-bottom: 3.5rem;
      }
  
      .error-guidance-text {
        @extend .guidance-text;
  
        color: $indicative-orange;
      }
  
      .login-form {
        // margin-top: -6rem;
        // min-height: 18.75rem;
        display: flex;
        // align-items: flex-end;
        width: 100%;
  
        .form {
          width: 100%;
          display: flex;
          flex-direction: column;
  
          .form-group {
            width: 100%;
          }
        }
  
        .default-input {
          .default-label {
            color: $basic-white !important;
            margin-bottom: 1.5rem;
  
          }
  
          input {
            color: $basic-white !important;
            border-bottom: 1px solid $basic-white;
          }
        }
  
        .error-icon {
          position: absolute;
          right: 0;
          top: 0;
        }
  
        .default-input input:not(:placeholder-shown) + span {
          transform: translateY(-1rem) scale(0.75);
          color: $basic-white;
  
          &::before {
            content: "";
          }
        }
  
        .default-input input:focus + span {
          transform: translateY(-1rem) scale(0.75);
          color: $basic-white;
  
          &::before {
            content: "";
          }
        }
  
        .form-control {
          padding-top: 2.438rem;
        }
  
        .password-field {
          margin-top: 1rem;
        }
  
        .login-submit {
          width: 100%;
          .sign-in-button {
            @extend .main-button;
          }
        }
      }
  
      .chrome-info {
        font-size: $font-size-14;
        color: $basic-white;
        margin-top: 1.5rem;
        font-weight: $font-weight-regular;
        .chrome-icon {
          margin: -0.3rem 0.3rem;
        }
        .chrome-text {
          font-weight: $font-weight-semi-bold;
        }
      }
  
      .footer {
        .warning-text {
          font-size: $font-size-14;
          padding-bottom: 1.5rem;
          color: $basic-white;
        }
  
        .forgot-password-trigger {
          font-weight: $font-weight-regular;
          font-size: $font-size-14;
          padding-bottom: 1.5rem;
          color: $basic-white;
  
          .hint-trigger {
            color: $basic-white;
            font-weight: $font-weight-bold;
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }

  .sign-in-button {
    margin: 0;
    width: 95% !important;
    height: 44px;
  }

  input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: $basic-white;
      caret-color: $basic-white;
      transition: background-color 5000s ease-in-out 0s;
    }
  
    &:-webkit-autofill:focus ~ label {
      top: -5px;
      left: 3px;
    }
  }