
<div class="leads-container">
  <div class="table-container">
    <table>
      <caption>List of Leads</caption>
      <tr class="table-heading">
        <th class="name">COMPANY NAME</th>
        <th class="item">CONTACT NAME</th>
        <th class="item">CONTACT NUMBER</th>
        <th class="item">DATE CREATED</th>
        <th class="item">STATUS</th>
      </tr>
      <tbody>
        <tr class="table-data" *ngFor="let item of dataList">
          <td class="name">{{ item.name }} ({{ item.id }})</td>
          <td class="item">{{ item.name }}</td>
          <td class="item">{{ item.contact }}</td>
          <td class="item">{{ item.date }}</td>
          <td class="item">
            <span class="span-class">{{ item.status | titlecase }}</span>
            <div class="icon-dropdown-container">
              <img
                class="right-arrow"
                src="{{ arrowImg }}"
                alt="proceed"
                (click)="onNextButton(item.brn)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
