.leads-container {
  margin-top: 12rem;
}

.table-wrapper {
  width: 40%;
  margin: 0 auto;
  overflow-x: auto; // Handle overflow for wide tables
}

table {
  width: 100%;
  border-collapse: collapse; // Collapse borders for a cleaner look

  caption {
    padding: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #ec1d23; // Red color for the caption
    text-align: center; // Align caption with table content
    border-bottom: 2px solid #ec1d23; // Red border at the bottom of the caption
    background-color: #f9f9f9; // Light background for contrast
  }
}

th, td {
  padding: 0.75rem;
  border: 1px solid #ec1d23; // Red border for the table
  text-align: left;
}

thead {
  background-color: #ec1d23; // Red background for header
  color: white;
}

.table-heading {
  background-color: #ec1d23; // Red background for headings
  color: white;
  font-weight: bold;
}

.table-data {
  background-color: #fff;
  font-size: 0.975rem;
  color: #333739;
}

.table-data:hover {
  background-color: #f9f9f9; // Light background on hover
}

th.name {
  text-align: left;
}

.icon-dropdown-container {
  padding-right: 1rem;
}
