<div class="login-container">
  <div class="login-image-container"></div>
  <div class="login-logo-container">
    <div class="logo-container">
      <img class="logo" src="assets/images/logo-white.svg" alt="logo" />
      <img
        class="logo-islamic"
        src="assets/images/logo-CIMB-Islamic-white.svg"
        alt="islamic logo"
      />
    </div>
    <div class="tagline-text">
      <span class="bolder-text">Deliver</span> a delightful lending<br />
      <span class="bolder-text">experience</span> to your customer
    </div>
  </div>
  <div class="login-form-container">
    <router-outlet></router-outlet>
    <div class="guidance-text">Please login with your LAN ID credentials</div>
    <div class="login-form">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
          <label class="default-input">
            <span class="default-label">Enter Your LAN ID</span>
            <br><br>
            <input
              type="text"
              id="username"
              placeholder="&nbsp;"
              autocomplete="off"
              formControlName="username"
              class="form-control"
            />
            <span class="default-border"></span>
            <div class="default-invalid-input-message"></div>
          </label>
        </div>
        <br><br>
        <div class="form-group">
          <label class="default-input">
            <span class="default-label">Enter Your Password</span>
            <br>
            <input
              type="password"
              id="password"
              placeholder="&nbsp;"
              autocomplete="off"
              formControlName="password"
              class="form-control password-field"
            />
            <br />
            <img
              class="error-icon"
              src="assets/images/icons/ctos-report-warning.svg"
              alt="error"
            />
            <br />
            <span class="default-border"></span>
            <div class="default-invalid-input-message"></div>
          </label>
        </div>
        <div class="login-submit">
          <button id="sign-in-button" class="sign-in-button">Login</button>
        </div>
      </form>
    </div>
    <div class="guidance-text chrome-info">
      <span>Best viewed with</span
      ><img
        class="chrome-icon"
        src="assets/images/icons/google-chrome.svg"
        alt="chrome"
      /><span class="chrome-text">Google Chrome</span>
    </div>
    <div class="footer">
      <div class="warning-text">
        "Warning! Unauthorized access is prohibited and legal action can be
        taken.
      </div>
      <div id="forgot-password" class="forgot-password-trigger">
        Having trouble accessing your account?
        <span class="hint-trigger">Click here</span>
      </div>
    </div>
  </div>
</div>
