  .navigation-component {
    height: 2.375rem;
    .navigation {
      margin-top: 0;
      padding: 0;
      color: #333739;
      font-size: 0.875rem;
      text-decoration: none;
  
      .navigation-item {
        text-transform: uppercase;
        color: #666;
        display: inline;
  
        .navigation-item-clickable {
          cursor: pointer;
  
          &:hover {
            font-weight: 800;
          }
        }
  
        .last-nav-item {
          font-weight: 600;
        }
  
        &::before {
          content: "/";
        }
  
        &:first-child::before {
          content: "";
        }
      }
    }
  }

  .header-container {
    .mini-label {
      color: #666;
      font-size: 0.875rem;
      font-weight: 600;
    }

    .left-section {
        display: flex;
        align-items: center;
      }

      h1 {
        padding-left: 0.625rem;
        margin: 0;
      }
    
      .back-icon {
        width: 2rem;
        cursor: pointer;
      }
  }

  @import "src/styles/themes.scss";

.ctos-report-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .heading-text {
      display: flex;
      flex-direction: row;

      .icon {
        width: 40px;
        height: 40px;
      }

      .heading {
        .main-heading {
          display: flex;
          flex-direction: row;

          .icon {
            height: 18px;
            width: auto;
          }

          .text {
            font-weight: 700;
            font-size: 1.5rem;
            color: #333739;
          }
        }

        .tagline {
          font-size: 1rem;
          color: #666;
        }
      }
    }

    .heading-actions-container {
      display: flex;
      flex-direction: row;
      padding-top: 0.2rem;

      .download-report-button {
        background-color: #fff;
        color: #ec1d23;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 0.875rem;
        padding: 0.4rem 0.3rem;
        cursor: pointer;
        border: 1px solid #ec1d23;
        border-radius: 8px;
        min-width: 9.375rem;
      }

      .re-generate-button {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 8px;
        padding: 0.4rem 0.3rem;
        cursor: pointer;
        box-shadow: 0 2px 5px 0 rgba(51, 55, 57, 0.1);
        border: 1px solid #dbdbdb;
        min-width: 9.375rem;
        text-align: center;
        margin-left: 1.2rem;

        .text {
          color: #333739;
          font-weight: 700;
          font-size: 0.875rem;
          line-height: 0.93;
          letter-spacing: 0.15px;
        }

        .last-generation-time {
          color: #666;
          font-size: 0.75rem;
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.1rem;

    .fin-highlight {
      background-color: #fff;
      border: 1px solid #dbdbdb;
      border-radius: 8px;
      display: flex;
      margin-bottom: 1.25rem;
      width: 100%;
      flex-flow: row wrap;

      .section-left {
        flex: 1;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 260px;

        .heading {
          font-weight: 700;
          font-size: 1rem;
          color: #000;
          letter-spacing: 1.71px;
          padding-bottom: 1.5rem;
        }

        .growth-details {
          display: flex;
          flex-direction: column;
          margin-bottom: 2.06rem;

          .growth-heading {
            font-weight: 600;
            font-size: 0.875rem;
            color: #666;
            letter-spacing: normal;
          }

          .currency {
            font-size: 0.875rem;
          }

          .value {
            font-weight: 700;
            font-size: 1.5rem;
            letter-spacing: normal;
            color: #333739;
          }

          .growth {
            font-weight: 700;
            font-size: 0.875rem;
            letter-spacing: normal;
            color: #333739;

            .growth-rate-red {
              color: #ec1d23;
            }

            .growth-rate-green {
              color: #63c76a;
            }
          }
        }

        .business-sector-details {
          display: flex;
          flex-direction: column;
          padding-bottom: 2.06rem;
          border-bottom: 1px solid #dbdbdb;
          max-width: 25rem;

          .sector-heading {
            font-weight: 600;
            font-size: 0.8125rem;
            letter-spacing: normal;
            color: #333739;
            padding-bottom: 0.5rem;
          }

          .sector-value {
            font-size: 0.875rem;
            letter-spacing: normal;
            color: #333739;
          }
        }

        .other-metrics {
          max-width: 25rem;
          padding-top: 1rem;

          .metric-heading {
            font-size: 0.8125rem;
            color: #333739;
            padding-bottom: 0.5rem;
          }

          .metric-value-container {
            font-weight: 600;
            font-size: 0.75rem;
            color: #333739;

            .value {
              border: 1px solid #dbdbdb;
              border-radius: 12.5px;
              padding: 0.1rem 0.8rem;
            }
          }

          .row-one {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;

            .lite-status {
              display: flex;
              flex-direction: column;
              justify-content: left;
              flex-grow: 1;

              .metric-heading {
                line-height: 1;
              }

              .value {
                width: min-content;
              }
            }

            .last-updated {
              flex-grow: 1;

              .value {
                text-align: center;
              }
            }
          }
        }

        @media screen and (max-width: 1200px) {
          width: 91%;
        }
      }

      .exp-text-container {
        padding: 0 1rem 1rem;
        width: 100%; // required to force element to new line

        .exp-text {
          font-size: 0.925rem;
          color: #333739;
          padding-bottom: 0.2rem;
          display: flex;
          flex-direction: column;

          .heading {
            font-weight: 600;
          }
        }
      }

      .section-right {
        flex: 2;
        padding: 1rem;
        min-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 1200px) {
          width: 91%;
        }

        .graph-y {
          font-weight: 700;
          font-size: 1rem;
          color: #333739;
        }

        .graph-heading {
          font-weight: 700;
          font-size: 1.5rem;
          color: #333739;
        }

        .graph-legend-container {
          display: flex;
          font-size: 0.8125rem;
          color: #666;

          .legend-item {
            display: flex;
            padding-top: 1rem;

            .indicator {
              height: 1rem;
              width: 1rem;
              margin-right: 0.2rem;
              border-radius: 50%;
            }

            .blue {
              background-color: #3879c7;
            }

            .green {
              background-color: #63c76a;
            }

            .red {
              background-color: #780000;
            }
          }

          .revenue {
            padding-right: 1rem;
          }
        }

        .empty-graph-placeholder {
          height: 200px;
          font-size: 1rem;
          color: #dbdbdb;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      @media screen and (max-width: 1200px) {
        flex-direction: column;
      }
    }

    .comp-charges {
      width: 100%;
      margin-bottom: 1.25rem;
    }

    .stake-holders {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.25rem;
      flex-flow: row wrap;

      .directors {
        width: 49%;
      }

      .share-holders {
        width: 49%;
      }
    }
  }
}

#ctosLiteCanvas {
  width: 100% !important; // override canvas to make graph flexible
  height: auto !important;
}

.chatbox-container {
  position: fixed; /* Or fixed depending on your use case */
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px; /* Set an appropriate width */
  height: 500px; /* Adjust this based on your design */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
}


.chatbox-container.hidden {
  display: none;
}

.chatbox-image {
  position: absolute;
  bottom: 4rem;
  right: 23rem;
  // width: 160px; /* Adjust size as needed */
  // height: 150px;
  width: 190px; /* Adjust size as needed */
  height: 180px;
  cursor: pointer;
}

.chatbox-header {
  background-color: #ec1d23;
  color: white;
  padding: 1px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: end;
  align-items: center;
}

.chatbox-body {
  flex: 1;
  padding: 10px;
  overflow-y: scroll;
  background-color: #f9f9f9;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  max-width: 80%;
}

.received {
  align-self: flex-start;
}

.sent {
  background-color: #ec1d23;
  color: white;
  align-self: flex-end;
}

.chatbox-title {
  font-size: 20px;
  font-weight: 600; /* Slightly bold */
  margin-bottom: 10px;
  text-align: center;
}

.chatbox-subtext {
  font-size: 14px;
  color: #6c757d; /* Light gray for subtext */
  margin-bottom: 20px;
  line-height: 1.5; /* Better readability */
}

.chat-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center the buttons horizontally */
}
.message-display {
  margin-top: 10px;
}

.chat-topic-button {
  background-color: #f0f0f0;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chat-topic-button:hover {
  background-color: #e0e0e0;
}

.chatbox-footer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chatbox-footer input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.chatbox-footer button {
  background-color: #ec1d23;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chatbox-footer button:hover {
  background-color: #d81b21;
}

.close-btn {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* chatbot.component.scss */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Takes the full height of the chatbox-body */
}

.loader img {
  width: 10rem;
  height: 10rem;
}

.chat-topics {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center the buttons horizontally */
}

.chat-topics button {
  background-color: #e9ecef;
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.chatbox-bubble-section {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  background-color: #fff;
}

.most-outer {
  background-color: black;
}

input[disabled], button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.chat-topic-button[disabled] {
  background-color: #d3d3d3; /* Lighter color for disabled buttons */
  cursor: not-allowed;
}

